<ion-header>
  <ion-toolbar>
    <ion-title>asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Asistencias recientes </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://img.olympicchannel.com/images/image/private/t_1-1_600/f_auto/v1538355600/primary/gzfhqplj0akgrkxizpnf" />
      </ion-avatar>
      <ion-label>
        <h2>Roman</h2>
        <h3>Fecha: 01/09/2022</h3>
        <p>Ausente  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Red_Point.gif" alt="" style="height:20px ;"></p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://img.olympicchannel.com/images/image/private/t_1-1_600/f_auto/v1538355600/primary/gzfhqplj0akgrkxizpnf" />
      </ion-avatar>
      <ion-label>
        <h2>Roman</h2>
        <h3>Fecha: 02/09/2022</h3>
        <p> Presente  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Green_Point.gif/480px-Green_Point.gif" alt="" style="height:20px ;"></p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://img.olympicchannel.com/images/image/private/t_1-1_600/f_auto/v1538355600/primary/gzfhqplj0akgrkxizpnf" />
      </ion-avatar>
      <ion-label>
        <h2>Roman</h2>
        <h3>Fecha: 03/09/2022</h3>
        <p>Ausente</p>
        <p>Ausente  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Red_Point.gif" alt="" style="height:20px ;"></p>
      </ion-label>
    </ion-item>

   
  </ion-list>
</ion-content>
