<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
    <ion-buttons slot="end">
      <ion-button  [routerLink]="['/usuarios']">Atrás</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      
    </ion-card-header>
  
    <ion-card-content>
      <img src="/assets/img/logito.PNG" alt="" height="100" width="100">

      RegistrAPP Duoc Alumnos, es una aplicación que forma parte del proyecto Vivo duoc, una iniciativa que tiene por objetivo mejorar la experiencia
      de los alumnos tanto profesores durante la pandemia haciendo esta una experiencia mas amigable.
      <hr>
      Esta aplicación movil fue creada para que puedes tener toda la información que necesitas para estar al dia con las asistencias a clases desde 
      cualquier lugar y cuando quieras.
      <hr>
      Creada por:
      <br>
      Alberto Díaz
      <br>
      Jose Agurto
      <br>
      Bryhan Ancaye
      <br>
      <br>
      RegistrAPP 2.0 - 2022
    </ion-card-content>
  </ion-card>

</ion-content>
