
.body {
    background-color:#4e79e6;
    color: black;


}

.ion-padding {
    background-color: #4e79e6;


}


.intru {
        background-color:   lightcoral;


}
.cardpri{
    background-color: aliceblue;
    justify-content: center;
    font-size: 60px;


}


.info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    


}

.titulo {
    color: dimgray;
text-align: center;
font-size: 25px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.subtitulo {
color: skyblue;
text-align: center;
font-size: 15px;

}


ion-content {


    --background: white ;

    .back-blob {
        z-index: -1;
        width: 600px;
        position:absolute;
        left: -50%;
        top: 0;
    }



}

.menu-header-bg{
    height:180px;
    width:350px ;
    background-color: brown;
    background: linear-gradient(90deg, #1d9da7 0%, #5d2fc9 100%);
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;

}

.ola{
    border-radius: 50px;
    background: linear-gradient(90deg, #1d9da7 0%, #5d2fc9 100%);


}

.header-content{
position: absolute;
top: 30px;
left: 15px;
display: flex;
align-items: center;

img{
    width: 80px;
    height: 80px;
    border-radius: 50% ;
    border: 7px solid #15c249 ;
    margin-right: 14px;
}

h2 {
 font-weight: 300;
 color: aliceblue;


}

p {
    font-size: 12px;
    color: azure;
    font-weight: 100;
    letter-spacing: 0.4;


}




.action-button {
    display: flex;
    justify-content: center;

 ion-button {
    text-transform: capitalize;
    font-weight: 300;
    --background: #628cff;
    --border-radius: 7px;
    --box-shadow: none;


 }
}
}

