<ion-header>
  <ion-toolbar>
    <ion-title>informacion</ion-title>
    <ion-buttons slot="end">
    <ion-button  [routerLink]="['/usuarios']">Atrás</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Pasos para registrar tu asistencia con RegistrAPP</ion-card-title>
    
  </ion-card-header>

    <ion-slides [options]="option" class="ion-margin-top">
      
      <ion-slide>
        <ion-card>
          <img src="https://img.freepik.com/vector-premium/telefono-inteligente-inicio-sesion-usuario-sitio-interfaz-usuario-pagina-aplicacion-telefono-movil-smartphone-pantalla-dispositivo-icono-negocio_194782-39.jpg" alt="">
          <p>1) Ingresa tus credenciales en el apartado de inicio de sesion</p>
        </ion-card>
      </ion-slide>




      <ion-slide>
        <ion-card>
          <img src="https://icons-for-free.com/iconfiles/png/512/cell+phone+cellphone+mobile+mobilephone+phone+smartphone-1320184454784325170.png" alt="" height="600px" width="600px">
          <p> 2) Espera a que tu docente genere el codigo qr que luego sera escaneado </p>

        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <img src="https://img.freepik.com/vector-premium/telefono-inteligente-codigo-qr-mano-escanear-codigo-qr-codigo-barras-escaneo-codigo-qr-telefono-movil_578506-254.jpg" alt="">
          <p> 3) Escanea el codigo QR generado y listo!, Asistencia registrada!</p>
        </ion-card>
      </ion-slide>



     



      <ion-slide>
        <ion-card>
          <img src="https://images.emojiterra.com/google/android-oreo/512px/2714.png" alt="">
          <p> 4) Una vez escaneado el codigo, tu asistencia quedo registrada!</p>
        </ion-card>
      </ion-slide>

    </ion-slides>

</ion-content>
